<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="inventorypage" class="row hidden" style="margin-top: 15px;" th:fragment="inventory(product)">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <h3 style="font-weight: 500;font-size: 1.1rem;">Overview</h3>
                    </div>
                    <div>
                        <button id="showForm" type="button" class="btn" style="border: 0.5px solid #B0B3B5;font-size: 0.75rem;font-weight: 500;"
                                _="on click add .hidden to #oldPrice remove .hidden from #setNewPrice
                                add .hidden to #oldQuantity remove .hidden from #setQuantity add .hidden to #oldminOrder remove .hidden from #setNewminOrder add .hidden to #oldlowStockAlert remove .hidden from #newlowStockAlert remove .hidden from #buttonstog add .hidden to #showForm"
                        >Edit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label style="font-size: 0.85rem;color: #8A8F92;font-weight: 400;" for="newPrice">
                            Price
                        </label>
                        <div id="oldPrice" style="font-weight: 400;font-size: 0.75rem;color: #000B11;" th:text="${product.price}">
                            NGN 2300,000
                        </div>
                        <div class="hidden" id="setNewPrice">
                            <input th:value="${product.price}" style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;" type="text" id="newPrice" name="newPrice" class="form-control" placeholder="NGN"
                                   _="on input
                                 if me.value is empty
                                   then set #changeName.disabled to true
                                else
                                   set #changeName.disabled to false"
                            >
                        </div>
                    </div>
                    <div class="col">
                        <label style="font-size: 0.85rem;color: #8A8F92;font-weight: 400;" for="newQuantity">
                            Quantity In Stock
                        </label>
                        <div id="oldQuantity" style="font-weight: 400;font-size: 0.75rem;color: #000B11;" >
                            <span th:text="${product.quantityInStock==0?'Unlimited':product.quantityInStock}"></span> Items
                        </div>
                        <div class="hidden" id="setQuantity">
                            <div  style="display: flex;gap: 10px;">
                                <select style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;width: 50%;" name="quantityType" id="quantityType" class="form-select">
                                    <option>Unlimited</option>
                                    <option value="Limited">Limited</option>
                                </select>
                                <input th:value="${product.quantityInStock}" style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;width: 50%" type="number" id="newQuantity" name="newQuantity" class="form-control" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <label style="font-size: 0.85rem;color: #8A8F92;font-weight: 400;" for="newminOrder">
                            Min Order
                        </label>
                        <div id="oldminOrder" style="font-weight: 400;font-size: 0.75rem;color: #000B11;">
                            1
                        </div>
                        <div class="hidden" id="setNewminOrder">
                            <input style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;" type="number" id="newminOrder" name="newminOrder" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div style="display: flex;justify-content: space-between;">
                            <label style="font-size: 0.85rem;color: #8A8F92;font-weight: 400;" for="status">
                                Low stock alert
                            </label>
                            <div id="newlowStockAlert" class="form-check form-switch hidden">
                                <input class="form-check-input" name="lowStockAlert" type="checkbox" role="switch" id="status">
                            </div>
                        </div>
                        <div id="oldlowStockAlert" style="font-weight: 400;font-size: 0.75rem;color: #000B11;">
                            Off
                        </div>
                    </div>
                </div>
                <div id="buttonstog" class="hidden" style="margin-top: 20px;">
                    <button type="button"  class="btn" style="border: 0.5px solid #B0B3B5;background-color: white;color: black;font-weight: 500;font-size: 0.75rem;"
                            _="on click remove .hidden from #oldPrice add .hidden to #setNewPrice
                                remove .hidden from #oldQuantity add .hidden to #setQuantity remove .hidden from #oldminOrder add .hidden to #setNewminOrder remove .hidden from #oldlowStockAlert add .hidden to #newlowStockAlert add .hidden to #buttonstog remove .hidden from #showForm"
                    >Cancel</button>
                    <button type="submit" id="submitNewInventory" class="btn" style="color: white;background-color: #0C74B1 ;font-weight: 500;font-size: 0.75rem;"
                    >Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>