<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 2.5rem;

        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div style="margin-top: 20px" layout:fragment="content" >
    <script th:src="@{/js/bundle.js}"></script>
    <div style="display: flex;justify-content: space-between;margin-top: 20px;margin-bottom: 20px;">
        <div>
            <div>
                <div id="defaultName">
                    <h3 style="font-size: 1.1rem;font-weight: 500"><span th:text="${product.name}">Bootify </span> <i class="bi bi-pencil" style="font-size: 0.85rem;padding-left: 10px;cursor: pointer;" _="on click add .hidden to #defaultName remove .hidden from #setName"></i></h3>
                </div>
                <div id="setName" class="hidden" >

                        <input th:value="${product.name}"
                               style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;" type="text" id="productName" name="productName" class="form-control" placeholder="Enter Product Name" required
                               hx-post="/editProductName"
                               hx-target="#resultDiv"
                               hx-trigger="input changed delay:500ms"
                               hx-swap="innerHTML"
                               hx-indicator="#loadingIndicator"
                        >

                </div>
            </div>
        </div>
        <div style="display: flex;gap: 20px;">
            <div>
                <button class="btn" style="border: 0.5px solid #B0B3B5;font-size: 1rem;">Preview</button>
            </div>
            <div>
                <button class="btn" style="border: 0.5px solid #B0B3B5;font-size: 1rem;">Copy Link</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div style="display: flex; gap: 3rem; align-items: flex-end;">
            <h2 style="font-size: 1rem; font-weight: 400; border-bottom: 1.5px solid #0C74B1; padding-bottom: 0.5rem; margin-bottom: -1.2px;color: #0C74B1;">
                Customize Product
            </h2>
            <h2 style="font-size: 1rem; font-weight: 400;">
                Inventory
            </h2>
            <h2 style="font-size: 1rem; font-weight: 400;">
                Others
            </h2>
        </div>
        <hr style="border: none; border-top: 1px solid black; margin: 0; width: 100%;">
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-sm-12 col-xxl-6 col-xl-6 col-lg-6 ">
            <div id="carouselExample" style="width: 100%; height: 100%;" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div th:each="media, iterStat : ${product.media}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                        <th:block th:if="${media.endsWith('.mp4') or media.endsWith('.webm') or media.endsWith('.ogg')}">
                            <video class="d-block w-100" controls>
                                <source th:src="${media}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </th:block>
                        <th:block th:unless="${media.endsWith('.mp4') or media.endsWith('.webm') or media.endsWith('.ogg')}">
                            <img th:src="${media}" class="d-block w-100" alt="Product Image">
                        </th:block>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
        <div class="col-sm-12 col-xxl-6 col-xl-6 col-lg-6">
            <div style="display: flex;gap: 1.4rem;">
                <h2 style="font-size: 1rem; font-weight: 400; border-bottom: 1.5px solid #0C74B1; padding-bottom: 0.5rem;color: #0C74B1;">
                    Product Info
                </h2>
                <h2 style="font-size: 1rem; font-weight: 400;padding-bottom: 0.5rem;">
                    Digital Downloads
                </h2>
            </div>
            <div class="mt-3">
                <label style="font-size: 0.85rem;font-weight: 500;" for="newDescription" class="form-label">Description <i id="pencil" class="bi bi-pencil" style="font-size: 0.85rem;padding-left: 10px;cursor: pointer;" _="on click add .hidden to #originalDescription add .hidden to #pencil remove .hidden from #changeDescription"></i></label>
                <div id="originalDescription">
                    <input th:value="${product.description}" style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;" type="text" id="newDescription" class="form-control" placeholder="Give a brief about your product"  readonly>
                </div>
                <div id="changeDescription" class="hidden">
                    <textarea th:text="${product.description}+' 00000'" style="font-size: 0.85rem;" class="form-control" name="setDescription" id="setDescription" rows="3" spellcheck="true"
                              _="on input
                        if me.value is empty
                            then set #submitNewDescription.disabled to true
                        else
                            set #submitNewDescription.disabled to false"
                    ></textarea>
                        <div style="margin-top: 10px;display: flex; gap: 10px;justify-content: end;">
                            <button type="button"  class="btn" style="border: 0.5px solid #B0B3B5;background-color: white;color: black;font-weight: 500;font-size: 0.75rem;" _="on click add .hidden to #changeDescription remove .hidden from #pencil remove .hidden from #originalDescription">Cancel</button>
                            <button type="submit" id="submitNewDescription" class="btn" style="color: white;background-color: #0C74B1 ;font-weight: 500;font-size: 0.75rem;"  disabled
                            >Submit</button>
                        </div>
                </div>
            </div>

                <label style="font-size: 0.85rem;font-weight: 500;" for="productLink" class="form-label mt-4">Product Link</label>
                <div id="resultDiv">
                    <input style="background-color: #F9F7F7;font-size: 0.85rem;border: 1px solid #E8E8E8;"
                           type="text" id="productLink" class="form-control"
                           th:value="${'https://bluepayment/buy/'+ product.name + '.com'}" readonly>
                </div>


            <label style="font-size: 0.85rem;font-weight: 500;"  class="form-check-label mt-4" for="status">Status</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="status">
            </div>
        </div>
    </div>
</div>

</body>
</html>