<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Landing Page</title>
    <style>
        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 1.5rem;
        }
        .table {
            margin-bottom: 0; /* Removes extra space at the bottom */
        }

    </style>
</head>
<body>
<div layout:fragment="content" >
    <script th:src="@{/js/bundle.js}"></script>
    <div style="margin: 15px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-color: #FFF8E3;color: #977718;border: 1px solid #F5BA04;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 0.75rem;font-weight: 500;">Pending Request</h5>
                        <h3 style="font-weight: 600;margin-top: 20px;">45,823</h3>
                        <div style="display: flex;justify-content: space-between;">
                            <div>
                                <p style="font-size: 0.75rem;font-weight: 500;">1,382 today</p>
                            </div>
                            <div><a th:href="@{/compliance/pendingRequest}" style="text-decoration: none;font-size: 0.75rem;font-weight: 500;color: #0C74B1;">View</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #DDFEE5; border: 1px solid #34C759;color: #235630;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 0.75rem;font-weight: 500;">Approved Compliance</h5>
                        <h3 style="font-weight: 600;margin-top: 20px;">45,823</h3>
                        <div style="display: flex;justify-content: space-between;">
                            <div>
                                <p style="font-size: 0.75rem;font-weight: 500;">1,382 today</p>
                            </div>
                            <div><a th:href="@{/compliance/succesfulCompliance}" style="text-decoration: none;font-size: 0.75rem;font-weight: 500;color: #0C74B1;">View</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #FFE6E5;border: 1px solid #EF5350;color: #5E1B19;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 0.75rem;font-weight: 500;">Rejected Compliance</h5>
                        <h3 style="font-weight: 600;margin-top: 20px;">45,823</h3>
                        <div style="display: flex;justify-content: space-between;">
                            <div>
                                <p style="font-size: 0.75rem;font-weight: 500;">1,382 today</p>
                            </div>
                            <div><a th:href="@{/compliance/rejectedCompliance}" style="text-decoration: none;font-size: 0.75rem;font-weight: 500;color: #0C74B1;">View</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: space-between;margin-top: 30px;">
            <h3 style="color: #062C5A;font-weight: 700;font-size: 1.1rem;">Recent Request</h3>
            <a href="#" style="text-decoration: none;font-size: 0.75rem;font-weight: 500;color: #0C74B1;">See all >></a>
        </div>
        <div class="custom-container">
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Email</th>
                    <th scope="col">Business Type</th>
                    <th>Date & Timestamp</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee['id']}"></td>
                    <td th:text="${employee['businessName']}"></td>
                    <td th:text="${employee['country']}"></td>
                    <td th:text="${employee['email']}"></td>
                    <td th:text="${employee['businessType']}"></td>
                    <td th:text="${employee['date']}"> <br> <span th:text="${employee['time']}" style="color: #667185;"></span></td>
                    <td><a href="#" style="text-decoration: none;font-size: 0.75rem;font-weight: 500;color: #0C74B1;">View Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>