<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form1" th:fragment="form1">
  <div style="background-color: #FFFFFF; border: 1px solid #F0F0F0;border-radius: 4px; padding: 28px;max-height: fit-content;">
    <h1 style="color: #062C5A;font-size: 1rem;">Registration information</h1>
    <div class="mb-3 mt-4">
      <label style="font-size: 0.75rem;color: #405979;" for="country" class="form-label">Country<span style="color: #EF5350;">*</span></label>
      <select name="county" id="country" class="form-select" style="font-size: 0.75rem;background-color: #FAFAFA;">
        <option value="Select">Select country</option>
        <option value="USA">USA</option>
        <option value="UK">UK</option>
        <option value="Canada">Canada</option>
        <option value="Australia">Australia</option>
        <option value="France">France</option>
        <option value="Germany">Germany</option>
        <option value="Japan">Japan</option>
        <option value="India">India</option>
        <option value="China">China</option>
        <option value="Russia">Russia</option>
        <option value="Brazil">Brazil</option>
        <option value="Italy">Italy</option>
        <option value="Spain">Spain</option>
        <option value="Netherlands">Netherlands</option>
      </select>
    </div>
    <div class="mb-3">
      <label style="font-size: 0.75rem;color: #405979;" for="businessName" class="form-label">Business Name<span style="color: #EF5350;">*</span></label>
      <input style="width:100%; background-color: #FAFAFA;font-size: 0.75rem;" type="text" class="form-control" name="businessName" id="businessName" >
    </div>
    <div class="mb-3">
      <label style="font-size: 0.75rem;color: #405979;" for="businessType" class="form-label">Business/Registration type<span style="color: #EF5350;">*</span></label>
      <select name="businessType" id="businessType" class="form-select" style="font-size: 0.75rem;background-color: #FAFAFA;" >
        <option value="Select">Select business type</option>
        <option value="Unregistered/Starterbusiness">Unregistered/Starter business</option>
        <option value="Businessnameregistration">Business name registration</option>
        <option value="Partnership">Partnership</option>
        <option value="Privatelimitedliabilitycompany">Private limited liability company</option>
        <option value="Publiclimitedliabilitycompany">Public limited liability company</option>
        <option value="ngo">Non-governmental organization (NGO)</option>
        <option value="Co-operativesociety">Co-operative society</option>
      </select>
    </div>
  </div>
  <button id="next1" class="mt-2 saveButton" disabled >Save</button>
</div>

</body>
</html>