<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .modal-body{
      padding: 0;
    }
    .btn-close{
      position: absolute;
      right: 0;
      padding: 1em;
    }
  </style>
</head>
<body onload="const modal = new bootstrap.Modal(document.getElementById('cleanModal')); modal.show();">
<div layout:fragment="content" >
  <script th:src="@{/js/bundle.js}"></script>
  <div style="display: flex;justify-content: center;align-items: center;margin-top: 15px">
    <div>
      <div style="background-color: #FFB300;color: white;padding: 10px;border-radius: 6px;margin-bottom: 20px">
        <div style="display: flex;gap: 11px">
          <div style="color:white "><i class="bi bi-clock-history" style="font-size: 2.3rem;"></i></div>
          <div style="color: white;font-size:1rem;font-weight: 700">Compliance Verification Pending<br><span style="font-size: 0.75rem;font-family: 500">
                You’ve have submitted your compliance
            </span></div>
        </div>
      </div>
      <div th:replace="~{/compliance/summary :: form6('null','hideSummary','hideSummary',${merchantDetails},false )}" />
    </div>
  </div>
</div>
</body>
</html>