<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

  <title>settlements</title>
  <style>
    table {
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border-bottom: 0.2px solid #B0B3B5 !important;/* Light grey border for all cells */
      font-size: 0.85rem;
      font-weight: 400;
    }
    th {
      border-bottom: 0.5px solid #B0B3B5 !important; /* Thick grey border for header */
      font-size: 0.85rem;
      font-weight: 400;
    }

    .search-container {
      position: relative;
      max-width: 400px;
      border: none;
      padding: 0px;
    }
    .search-icon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color:#545C60;
      font-size: 1rem;
    }
  </style>
</head>

<body>
<div layout:fragment="content">
  <div class="modal fade" id="rejectModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 100%;">
        <div th:replace="~{/merchant/transferFormModal :: transferForm }" />
      </div>
    </div>
  </div>
  <div class="row mt-4" >
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-sm-12" style="border: 1px solid #E6E7E7;background-color: white;">
      <div style="margin: 10px;margin-bottom: 40px;" >
        <h3 style="font-size: 0.85rem;font-weight:400 ;" th:text="'Total: ' + ${transferTotal}"></h3>
        <div style="display: flex;justify-content: space-between;margin-top: 30px;">
          <div style="font-size: 1rem;font-weight: 500;">
            This Month
          </div>
          <div>
            <div class="search-container">
              <i class="bi bi-search search-icon"></i>
              <input style="font-size: 0.85rem;min-width: 200px;padding-left:40px ;" type="text" class="form-control" placeholder="Search by beneficiary and reference">
            </div>
          </div>
          <div>
            <button class="btn" style="background-color: #0C74B1;color: white;font-size: 0.85rem;" data-bs-toggle="modal" data-bs-target="#rejectModal">
              New Transfer
            </button>
          </div>
          <div>
            <button class="btn" style="background-color: #0C74B1;color: white;font-size: 0.85rem;">
              Download
            </button>
          </div>
        </div>
        <table class="table" >
          <thead>
          <tr>
            <th>Status</th>
            <th>Reference</th>
            <th>Amount (NGN)</th>
            <th>Beneficiary</th>
            <th>Timestamp</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="transferItem : ${myTransfers}">
            <td>
              <div style="padding: 4px 8px; border: 1px solid #46A14B; text-align: center; color: #46A14B; background-color: #F4FAF5; border-radius: 12px; font-size: 14px; font-weight: normal;"th:text="${transferItem.status}">
              </div>


            </td>
            <td th:text="${transferItem.reference}"></td>
            <td th:text="${#numbers.formatDecimal(transferItem.amount, 1,'COMMA', 2, 'POINT')}"></td>
            <td th:text="${transferItem.invoice.customerName}"></td>
            <td th:text="${#temporals.format(transferItem.lastUpdated, 'MMMM dd, yyyy HH:mm a')}"></td>
            <td>
              <a th:href="@{./transfers/{id}(id=${transferItem.id})}">
              <button class="btn" style="background-color: #0C74B1;border-radius: 50px;color: white;font-size: 0.85rem;font-weight: 400;">
                View Details
              </button></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12" style="background-color: #FCFCFC;border-bottom: 1px solid #E6E7E7;border-top: 1px solid #E6E7E7;">
      <div style="border-bottom: 1px solid #E6E7E7;">
        <div style="text-align: center;padding: 5px;">
          <h1 style="font-size: 1rem;">NGN</h1>
        </div>
      </div>
      <div style="text-align: center;height: 100%;padding: 20px;">
        <h5 style="font-size: 1rem;font-weight: 500;margin-top: 10px;">Balance</h5>
        <p style="font-size: 1.2rem;font-weight: 500;margin-top: 20px" th:text="${transferBalance['balance']}">50,000.00</p>
        <h2 style="font-size: 0.85rem;font-weight: 400;color: #545C60;margin-top: 10px" >Available</h2>
        <button class="btn-topup" >Topup</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>